# Workspace Status
build --workspace_status_command="bash ./tools/workspace_status.sh"

# Import Shared settings
import %workspace%/shared.bazelrc

# Import CI settings.
import %workspace%/ci.bazelrc

# Try to import a local.rc file; typically, written by CI
try-import %workspace%/local.bazelrc

