# Ignore Bazel symlinks
bazel-*

# Ignore Bazel lock files
MODULE.bazel.lock

# Ignore npm/yarn stuff
node_modules

# Ignore the local.bazelrc
local.bazelrc

# Ignore configuration files that are used for chidl workspaces
child_workspace.bazelrc

# Some bzltidy tests write files with the extension .tidy_out
*.tidy_out
