#!/usr/bin/env bash

set -euo pipefail

# Keep track of the current directory
starting_dir="${PWD}"

# Directory where the archive will be expanded.
tmpdir="$(mktemp -d)"

cleanup() {
  cd "${starting_dir}"
  rm -rf "${tmpdir}"
}
trap cleanup EXIT

# Line location in this file where the archive starts
archive_start=$(awk '/^__ARCHIVE_BELOW__/ {print NR + 1; exit 0; }' $0)

# Decompress the archive
tail "-n+${archive_start}" $0 | tar xzv -C "${tmpdir}" &> /dev/null

# Temporarily update the RUNFILES_DIR
ORIG_RUNFILES_DIR="${RUNFILES_DIR:-}"
cleanup() {
  export RUNFILES_DIR="${ORIG_RUNFILES_DIR:-}"
}
trap cleanup EXIT
export RUNFILES_DIR="${tmpdir}"

# Change to the run directory. This is different from RUNFILES_DIR which is
# used to look up deps by runfiles.bash.
run_dir="${tmpdir}/{{RUN_DIR}}"
cd "${run_dir}"

# Execute the binary
cmd=( "${RUNFILES_DIR}/{{EXEC_BINARY}}" )
[[ ${#} -gt 0 ]] && cmd+=( "${@}" )
"${cmd[@]}"

# Finished
exit 0

__ARCHIVE_BELOW__
