#!/usr/bin/env bash

set -euo pipefail

# Keep track of the current directory
starting_dir="${PWD}"

# Directory where the archive will be expanded.
tmpdir="$(mktemp -d)"

cleanup() {
  cd "${starting_dir}"
  rm -rf "${tmpdir}"
}
trap cleanup EXIT

# Line location in this file where the archive starts
archive_start=$(awk '/^__ARCHIVE_BELOW__/ {print NR + 1; exit 0; }' $0)

# Decompress the archive
tail "-n+${archive_start}" $0 | tar xzv -C "${tmpdir}"

# Execute the binary
cd "${tmpdir}"
cmd=( "{{EXEC_BINARY}}" )
[[ ${#} > 0 ]] && cmd+=( "${@}" )
"${cmd[@]}"

# Finished
exit 0

__ARCHIVE_BELOW__
