name: Build

on:
  pull_request:
    branches: [ main ]

jobs:
  macos_build:

    runs-on: macos-11.0

    steps:
    - uses: actions/checkout@v2

    - name: Write local.bazelrc File
      shell: bash
      run: |
        cat >local.bazelrc <<EOF
        common --config=ci
        EOF

    - name: DEBUG
      shell: bash
      run: |
        # printenv | sort
        git branch -vv 
        git tag
        echo "FIRST"
        git archive --format=tar --prefix=bazel-starlib-0.1.1/ v0.1.1 | gzip | openssl dgst -sha256
        echo "SECOND"
        git archive --format=tar --prefix=bazel-starlib-0.1.1/ v0.1.1 | gzip | openssl dgst -sha256
        echo "THIRD"
        git archive --format=tar --prefix=bazel-starlib-0.1.1/ v0.1.1 | gzip | openssl dgst -sha256
        exit 1

    - name: Output the Bazel Info
      shell: bash
      run: |
        bazelisk info

    - name: Execute Tests
      shell: bash
      run: |
        bazelisk test //... 

    - name: Build Anything Not Tested
      shell: bash
      run: |
        bazelisk build //... 

    - name: Execute Integration Tests
      shell: bash
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        bazelisk test //:all_integration_tests

    - name: Ensure Bazel packages covered by bzlformat_pkg
      shell: bash
      run: |
        bazelisk run //:bzlformat_missing_pkgs_test

  ubuntu_build:

    runs-on: ubuntu-20.04

    env:
      CC: clang

    steps:
    - uses: actions/checkout@v2

    - name: Write local.bazelrc File
      shell: bash
      run: |
        cat >local.bazelrc <<EOF
        common --config=ci
        EOF

    - name: Output the Bazel Info
      shell: bash
      run: |
        bazelisk info

    - name: Execute Tests
      shell: bash
      run: |
        bazelisk test //... 

    - name: Build Anything Not Tested
      shell: bash
      run: |
        bazelisk build //... 

    - name: Execute Integration Tests
      shell: bash
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        bazelisk test //:all_integration_tests

    - name: Ensure Bazel packages covered by bzlformat_pkg
      shell: bash
      run: |
        bazelisk run //:bzlformat_missing_pkgs_test
