name: Build

on:
  pull_request:
    branches: [ main ]

jobs:
  macos_build:

    runs-on: macos-11.0

    steps:
    - uses: actions/checkout@v2

    - name: DEBUG
      shell: bash
      run: |
        which sha256sum || true
        which gh || true
        echo >&2 STOP
        exit 1

    - name: Write local.bazelrc File
      shell: bash
      run: |
        cat >local.bazelrc <<EOF
        common --config=ci
        EOF

    - name: Output the Bazel Info
      shell: bash
      run: |
        bazelisk info

    - name: Execute Tests
      shell: bash
      run: |
        bazelisk test //... 

    - name: Build Anything Not Tested
      shell: bash
      run: |
        bazelisk build //... 

    - name: Ensure Bazel packages covered by bzlformat_pkg
      shell: bash
      run: |
        bazelisk run //:bzlformat_missing_pkgs_test

  ubuntu_build:

    runs-on: ubuntu-20.04

    env:
      CC: clang

    steps:
    - uses: actions/checkout@v2

    - name: Write local.bazelrc File
      shell: bash
      run: |
        cat >local.bazelrc <<EOF
        common --config=ci
        EOF

    - name: Output the Bazel Info
      shell: bash
      run: |
        bazelisk info

    - name: Execute Tests
      shell: bash
      run: |
        bazelisk test //... 

    - name: Build Anything Not Tested
      shell: bash
      run: |
        bazelisk build //... 

    - name: Ensure Bazel packages covered by bzlformat_pkg
      shell: bash
      run: |
        bazelisk run //:bzlformat_missing_pkgs_test
