name: Build and Test Workflow
on:
  workflow_call:

jobs:
  macos_build:
    runs-on: macos-11.0
    steps:
    - uses: actions/checkout@v2
    - uses: ./.github/actions/setup_bazel_cache
      with:
        name: bazel_starlib
    - uses: ./.github/actions/setup_bazel
    - uses: ./.github/actions/build_and_test

  ubuntu_build:
    runs-on: ubuntu-20.04
    env:
      CC: clang
    steps:
    - uses: actions/checkout@v2
    - uses: ./.github/actions/setup_bazel_cache
      with:
        name: bazel_starlib
    - uses: ./.github/actions/setup_bazel
    - uses: ./.github/actions/build_and_test
