name: Continuous Integration

on:
  pull_request:
    branches: [ main, test_main ]
  schedule:
    # Every day at 11:13 UTC.
    - cron: '13 11 * * *'

jobs:

  tidy_and_test_matrix:
    strategy:
      fail-fast: false
      matrix:
        runner: [macos-13, ubuntu-22.04]
        enable_bzlmod: [true, false]
    runs-on: ${{ matrix.runner }}
    steps:
    - uses: actions/checkout@v3
    - uses: cgrindel/gha_set_up_bazel@v1
      with:
        repo_name: bazel-starlib
    - uses: ./.github/actions/configure_bzlmod
      with:
        enabled: ${{ matrix.enable_bzlmod }}
    - uses: ./.github/actions/configure_remote_cache_auth
      with:
        buildbuddy_api_key: ${{  secrets.BUILDBUDDY_API_KEY }}
    - uses: ./.github/actions/tidy_and_test
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}

  integration_test_matrix:
    strategy:
      fail-fast: false
      matrix:
        include: []
    runs-on: ${{ matrix.runner }}
    env:
      CC: clang
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/set_up_ubuntu
        if: ${{ startsWith(matrix.runner, 'ubuntu') }}
        with:
          repo_name: bazel-starlib
          ubuntu_version: "22.04"
      - uses: ./.github/actions/set_up_macos
        if: ${{ startsWith(matrix.runner, 'macos') }}
        with:
          repo_name: rules_swift_package_manager
          xcode_version: "14.2"
      - uses: ./.github/actions/configure_bzlmod
        with:
          enabled: ${{ matrix.enable_bzlmod }}
      - uses: ./.github/actions/configure_remote_cache_auth
        with:
          buildbuddy_api_key: ${{  secrets.BUILDBUDDY_API_KEY }}
      - uses: ./.github/actions/execute_test
        with:
          bzlmod_enabled: ${{ matrix.bzlmod_enabled }}
          test_target: ${{ matrix.test }}


  integration_test_matrix:
    strategy:
      fail-fast: false
      matrix:
        runner: [macos-13, ubuntu-22.04]
        bazel_version: [.bazelversion]
        example_dir: [bzlformat, markdown, updatesrc]
        enable_bzlmod: [true, false]
        include:
          - example_dir: bzlformat
            example_name: simple
          - example_dir: markdown
            example_name: simple
          - example_dir: updatesrc
            example_name: simple
          - runner: macos-13
            example_dir: ""
            example_name: bzlmod_e2e
            enable_bzlmod: true
            bazel_version: .bazelversion
          - runner: ubuntu-22.04
            example_dir: ""
            example_name: bzlmod_e2e
            enable_bzlmod: true
            bazel_version: .bazelversion
    runs-on: ${{ matrix.runner }}
    steps:
    - uses: actions/checkout@v3
    - uses: cgrindel/gha_set_up_bazel@v1
      with:
        repo_name: bazel-starlib
    - uses: ./.github/actions/configure_bzlmod
      with:
        enabled: ${{ matrix.enable_bzlmod }}
    - uses: ./.github/actions/configure_remote_cache_auth
      with:
        buildbuddy_api_key: ${{  secrets.BUILDBUDDY_API_KEY }}
    - uses: ./.github/actions/test_example
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        example_dir: ${{ matrix.example_dir }}
        example_name: ${{ matrix.example_name }}
        bazel_version: ${{ matrix.bazel_version }}

  all_ci_tests:
    runs-on: ubuntu-22.04
    needs: 
      - tidy_and_test_matrix
      - integration_test_matrix
    if: ${{ always() }}
    steps:
      - uses: cgrindel/gha_join_jobs@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
