name: Create Release Workflow

on:
  workflow_call:

jobs:
  create_release:
    runs-on: ubuntu-latest
    env:
      CC: clang

    steps:

    - uses: actions/checkout@v2

    - name: Write local.bazelrc File
      shell: bash
      run: |
        cat >local.bazelrc <<EOF
        common --config=ci
        EOF

    - name: Output the Bazel Info
      shell: bash
      run: |
        bazelisk info

    - name: Generate Release Notes
      shell: bash
      env:
        # The integration tests make use of Github-specific functionality 
        # (e.g. gh).
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GITHUB_REF_NAME: ${{ github.ref_name }}
      run: |
        bazelisk run //tools:generate_release_notes -- \
          --output release_notes.md \
          "${GITHUB_REF_NAME}"

    - name: Create Release
      uses: softprops/action-gh-release@v1
      with:
        name: Release ${{ github.ref_name }}
        body_path: release_notes.md

