name: Release on Version Tag Push

on:
  push:
    tags:
      - "v*.*.*"
  workflow_dispatch:

jobs:
  build_and_test:
    # NOTE: Need to provide a valid ref (e.g. SHA, release tag, branch). Github is working to add
    # local reference support. (https://github.community/t/ref-head-in-reusable-workflows/203690)
    uses: cgrindel/bazel-starlib/.github/workflows/build_and_test.yml@e619166c2c82c7d2d94c48b2208206fdc81f8a58

  create_release:
    # Don't run unless the build/test succeeds
    needs: build_and_test
    # NOTE: Need to provide a valid ref (e.g. SHA, release tag, branch). Github is working to add
    # local reference support. (https://github.community/t/ref-head-in-reusable-workflows/203690)
    uses: cgrindel/bazel-starlib/.github/workflows/create_release.yml@31dfa03f5dfe712b3cd2ae0e99e11ba2379e02c0
    with:
      release_tag: ${{ github.ref_name }}
