name: Update README.md

on:
  workflow_dispatch:
    inputs:
      release_tag:
        required: true
        type: string
  workflow_call:
    inputs:
      release_tag:
        required: true
        type: string

jobs:
  update_readme:
    runs-on: ubuntu-latest
    env:
      CC: clang

    steps:
    - uses: actions/checkout@v2
    - uses: ./.github/actions/setup_bazel_cache
      with:
        name: bazel_starlib
    - uses: ./.github/actions/setup_bazel
    - uses: ./.github/actions/update_readme
      with:
        release_tag: ${{  github.event.inputs.release_tag }}
        github_token: ${{ secrets.GITHUB_TOKEN }}
